@using Model
@using Services

<table class="table d-none d-sm-block">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Shop</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var receipt in Receipts)
        {
            <tr>
                <td>
                    <i title="open receipt detail" @onclick="()=>SelectReceipt(receipt)" class="fas fa-eye"></i>
                </td>
                <td>@receipt.day.ToShortDateString()</td>
                <td title="@BuildShopTitle(receipt)">
                    <i aria-hidden="true" class="@TagsService.GetKindIcon(receipt.tags)"></i>
                    @receipt.shop
                </td>
                <td>@receipt.total</td>
            </tr>
        }
    </tbody>
</table>


<table class="table d-block d-sm-none">
    @if (ShowTableHeader)
    {
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Shop</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var receipt in Receipts)
        {
            <tr @onclick="()=>SelectReceipt(receipt)">
                <td>@receipt.day.ToShortDateString()</td>
                <td title="@BuildShopTitle(receipt)">
                    <i aria-hidden="true" class="@TagsService.GetKindIcon(receipt.tags)"></i>
                    @receipt.shop
                </td>
                <td>@receipt.total</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<ReceiptListItem> Receipts { get; set; } = new List<ReceiptListItem>();
    [Parameter]
    public bool ShowTableHeader { get; set; } = true;
    [Parameter]
    public EventCallback<string> OnSelectedReceipt { get; set; }

    private string BuildTagsSummary(IEnumerable<string> tags)
    {
        return tags != null ? string.Join(" ", tags) : string.Empty;
    }

    private string BuildShopTitle(ReceiptListItem receipt)
    {
        return $"{BuildTagsSummary(receipt.tags)} {receipt.shop}";
    }

    private async Task SelectReceipt(ReceiptListItem receipt)
    {
        await OnSelectedReceipt.InvokeAsync(receipt.id);
    }
}