@page "/receipts"
@page "/receipts/{JobId}"
@using Model
@using Services
@using System.Globalization
@using System.Threading
@using ReceiptApp.Components
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject TokenService TokenService
@inject ReceiptQuery Query
@inject UploaderService Uploader
@inject ReceiptLoaderStateService state
@implements IDisposable
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h1 class="receipts-header">
    Receipts
    <span class="header-actions">
        <NavLink title="Add Receipt" class="btn btn-primary" href=@($"register-receipt")>
            <i class="fas fa-plus"></i>
        </NavLink>
        <button type="button" class="btn btn-primary" title="Refresh Receipts list" @onclick="@(e=>Refresh())">
            <i class="fas fa-sync-alt"></i>
        </button>
    </span>
</h1>
<div class="file-input-group input-group mb-2">
    <div class="custom-file">
        <InputFile OnChange="@LoadFiles" class="custom-file-input" id="inputGroupFile01" />
        <label class="custom-file-label" for="inputGroupFile01">Upload Receipt</label>
    </div>
</div>

@if (loadingMessage != null)
{
    <p class="loading"><em>@loadingMessage</em></p>
}

@if (errorMessage != null)
{
    <p class="error"><em>@errorMessage</em></p>
}

<div class="mb-2">
    <input id="monthFilter" alt="Filter by month" type="month"
           @oninput="@(e=>FilterByMonth(e.Value?.ToString() ?? string.Empty))" class="form-control col-xs-8 col-sm-4"
           placeholder="Select month" />
</div>

<hr />
@if (receipts == null)
{
    <p class="loading"><em>Loading...</em></p>
}
else
{
    <WeeklyStatus Receipts="receipts" />
    <ReceiptsTable Receipts="receipts" />
}

@code {

    [Parameter]
    public string JobId { get; set; } = "";
    public string MonthFilter { get; set; } = "";
    public string? loadingMessage { get; set; }
    public string errorMessage { get; set; } = "";
    private IEnumerable<ReceiptListItem> all_receipts = new List<ReceiptListItem>();
    private IEnumerable<ReceiptListItem> receipts = new List<ReceiptListItem>();

    private DateTime? MonthYear = null;

    protected override async Task OnInitializedAsync()
    {
        state.OnLoadedReceiptChanged += async (component, receiptId) => await Refresh();

        ClearMessage();
        ClearErrorMessage();

        await Refresh();
    }

    public async Task Refresh()
    {
        CultureInfo provider = CultureInfo.InvariantCulture;

        all_receipts = (await Query.GetAll(MonthYear))
        .Select(r => new ReceiptListItem(
        r.Id ?? "",
        r.JobId ?? "",
        DateTime.ParseExact(r.Day ?? "", "yyyy-MM-dd", provider),
        r.Tags ?? new string[] { }, r.Shop ?? "",
        r.Total)
        ).OrderByDescending(r => r.day);

        if (all_receipts.Any() && !string.IsNullOrEmpty(JobId))
        {
            all_receipts = all_receipts.Where(r => r.JobId == JobId);
        }

        receipts = all_receipts.Select(r => r);

        StateHasChanged();
    }
    private async void FilterByMonth(string month)
    {
        loadingMessage = string.Empty;
        Console.WriteLine(month);
        if (!string.IsNullOrWhiteSpace(month))
        {
            MonthFilter = month;
            if (DateTime.TryParse(month, out DateTime monthYear))
            {
                MonthYear = monthYear;
                await Refresh();
            }
        }
        else
        {
            MonthFilter = string.Empty;
            receipts = all_receipts;
        }
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        ClearErrorMessage();
        SetProcessing();

        try
        {
            string uploadedFileName = await Uploader.Upload(e.File);
            state.NotifyLoadingReceiptChanged(this, uploadedFileName);

            await Task.Delay(3000);

            ClearMessage();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = ex.Message;
        }
    }

    private void LoadingTest()
    {
        state.NotifyLoadingReceiptChanged(this, "foo file name");
    }

    private void SetProcessing()
    {
        loadingMessage = "Processing receipt...";
    }

    private void ClearMessage()
    {
        loadingMessage = string.Empty;
    }

    private void ClearErrorMessage()
    {
        errorMessage = string.Empty;
    }

    void IDisposable.Dispose()
    {
        state.OnLoadedReceiptChanged -= async (component, receiptId) => await Refresh();
    }
}
